# ===== Build files =====
build/
dist/

# ===== Java compiled =====
*.class

# ===== NetBeans private config =====
nbproject/private/

# ===== Logs =====
*.log

# ===== OS files =====
.DS_Store
Thumbs.db